* {
    padding: 0; margin: 0;
}
a {
    color: inherit; text-decoration: none;
}
li {
    list-style: none;
}
.inner {width: 1280px; background: yellow; margin: 0 auto;}
.clearFix::after,s
.clearFix::before {
    content: ''; clear: both; display: block;
}